# Let's create a dataframe of classes for students

In [2]:
import random
from random import sample
import pandas as pd

### Create student class

In [3]:
class Student:
    def __init__(self, classes, athlete, chorus):
        self.classes = classes
        self.athlete = athlete
        self.chorus = chorus
    def __str__(self):
        return str(self.classes)

### Creating Students

In [169]:
# every student has 6 classes
possibleClasses = list(range(0, 15))
def genStudent(num):
    chor = 1 if random.uniform(0,1) > .8 else 0
    if chor == 1:
        classes = sample(possibleClasses, 5)
        student = Student(classes, 0, 1)
    else:
        classes = sample(possibleClasses, 5)
        athlete = 1 if random.uniform(0,1) > 0.7 else 0
        student = Student(classes, athlete, 0)

    return student

In [190]:
%%capture
students = [0] * 1000
for i in range(1000):
    students[i] = genStudent(i)
df = pd.DataFrame(columns = ["Class 1", "Class 2", "Class 3", "Class 4", "Class 5", "Athlete", "Chorus"])
for i in range(1000):
    df = df.append({
               'Class 1':  students[i].classes[0],
               'Class 2':  students[i].classes[1],
               'Class 3':  students[i].classes[2],
               'Class 4':  students[i].classes[3],
               'Class 5':  students[i].classes[4],
               'Athlete': students[i].athlete,
               'Chorus': students[i].chorus},
               ignore_index = True)

In [202]:
dfNew = pd.DataFrame(0, index=range(1000), columns=[f'Class{i}' for i in range(1, 16)])
for i in range(df.shape[0]):
    for j in range(df.shape[1] - 2):
        dfNew.iat[i, df.iloc[i,j]] = 1

In [203]:
dfNew = pd.concat([dfNew, df.iloc[:,-2:]], axis = 1)

In [204]:
dfNew

,Class1,Class2,Class3,Class4,Class5,Class6,Class7,Class8,Class9,Class10,Class11,Class12,Class13,Class14,Class15,Athlete,Chorus
0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1
1,0,1,0,0,0,1,0,0,0,0,1,0,1,1,0,0,0
2,0,1,0,0,0,0,0,1,1,1,0,1,0,0,0,1,0
3,1,1,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0
4,0,1,0,0,0,0,0,1,1,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,1
996,0,0,1,0,1,0,0,1,1,0,0,0,1,0,0,0,1
997,1,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0
998,0,1,0,0,0,0,0,1,0,0,0,1,1,1,0,0,0
999,0,0,0,0,1,0,0,0,0,1,0,1,1,0,1,0,1

### Creating Classroom Capacities

In [6]:
# capacity for each classroom
classrooms = pd.DataFrame(columns=["Capacity"])
for i in range(30):
    classrooms = classrooms.append({
                       'Capacity': random.randint(20,50)},
                       ignore_index = True)

C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3314557277.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classrooms = classrooms.append({

### Which classroom can have which class

In [239]:
# which classroom each class can be in
subjectClassrooms = pd.DataFrame(columns = ['Class', 'Classrooms'])
for i in range(len(possibleClasses)):
    subjectClassrooms = subjectClassrooms.append({
        'Class': possibleClasses[i],
        'Classrooms': sample(range(30), random.randint(6,20))},
        ignore_index = True)

C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\2352908703.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  subjectClassrooms = subjectClassrooms.append({

In [240]:
subjectClassrooms

   Class                                         Classrooms
0      0         [8, 14, 2, 6, 4, 19, 7, 16, 5, 21, 15, 20]
1      1  [19, 5, 16, 1, 27, 22, 18, 20, 11, 12, 0, 6, 1...
2      2  [8, 9, 27, 18, 29, 22, 26, 23, 4, 14, 17, 3, 1...
3      3                 [14, 15, 18, 17, 4, 28, 3, 26, 29]
4      4                [4, 21, 23, 10, 17, 25, 15, 29, 22]
5      5                      [11, 0, 18, 6, 12, 15, 28, 5]
6      6  [28, 1, 29, 9, 21, 20, 4, 24, 15, 12, 19, 17, ...
7      7  [2, 19, 21, 7, 4, 25, 16, 5, 6, 26, 15, 10, 14...
8      8  [5, 28, 6, 10, 8, 7, 1, 11, 22, 16, 12, 27, 24...
9      9  [11, 27, 1, 23, 8, 29, 16, 9, 4, 20, 24, 17, 0...
10    10                        [16, 14, 19, 15, 27, 24, 7]
11    11                          [0, 8, 22, 26, 20, 6, 23]
12    12                             [22, 1, 13, 8, 12, 24]
13    13  [10, 15, 23, 27, 4, 24, 0, 9, 17, 3, 11, 28, 1...
14    14                  [23, 27, 3, 25, 21, 22, 17, 0, 6]

In [182]:
# Explode the list in 'Periods' into separate rows
subjectClassrooms = subjectClassrooms.explode('Classrooms')

# Create binary columns for each period
subjectClassrooms = pd.crosstab(subjectClassrooms['Class'], subjectClassrooms['Classrooms']).add_prefix('Classroom_')

# Fill NaN values with 0
subjectClassrooms.fillna(0, inplace=True)

In [183]:
subjectClassrooms

Classrooms,Classroom_0,Classroom_1,Classroom_2,Classroom_3,Classroom_4,Classroom_5,Classroom_6,Classroom_7,Classroom_8,Classroom_9,...,Classroom_20,Classroom_21,Classroom_22,Classroom_23,Classroom_24,Classroom_25,Classroom_26,Classroom_27,Classroom_28,Classroom_29
Class,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,1,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,1,1,0,0,1,...,1,1,1,1,0,1,1,1,1,1
2,1,1,1,1,1,1,1,0,0,0,...,1,1,0,1,0,0,0,0,1,0
3,0,0,0,1,1,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
4,0,0,1,1,1,1,0,0,1,0,...,0,0,1,0,0,1,1,0,0,1
5,1,1,0,1,1,0,0,1,0,0,...,0,1,1,0,0,1,0,1,1,0
6,0,1,0,1,0,1,1,1,1,1,...,0,0,0,1,0,0,0,1,0,0
7,1,0,1,1,1,1,1,0,1,0,...,1,1,0,0,1,0,1,1,1,0
8,1,0,1,1,0,0,0,1,1,0,...,0,1,0,1,1,0,0,1,1,0
9,1,1,1,1,1,0,1,1,1,0,...,1,0,1,1,0,0,1,0,1,0
10,1,1,1,1,1,1,0,1,1,1,...,1,0,1,1,0,0,1,1,1,0
11,0,1,0,1,1,0,1,0,1,1,...,1,1,1,1,0,0,0,0,0,0
12,1,1,1,1,1,1,0,0,1,1,...,0,1,0,0,1,1,0,0,1,1
13,1,1,1,1,0,0,1,0,1,0,...,1,1,1,1,1,0,1,0,0,1
14,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Which days (A or B) have classes available

In [9]:
daysAvailable = pd.DataFrame(columns = ["Class", "A", "B"])
for i in range(len(possibleClasses)):
    temp = random.uniform(0,1)
    if temp > .35:
        A = 1
        B = 1
    else:
        temp = random.uniform(0,1)
        if temp > .5:
            A = 1
            B = 0
        else:
            A = 0
            B = 1
    daysAvailable = daysAvailable.append({
        'Class': possibleClasses[i],
        'A': A,
        'B': B},
        ignore_index = True)

C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3426524610.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  daysAvailable = daysAvailable.append({

### Which periods each class can be in

In [207]:
periods =  range(8)

classPeriods = pd.DataFrame(columns = ["Class", "Periods"])
for i in range(len(possibleClasses)):

    Periods = sample(range(8), random.randint(2,4))
    #Periods = []

    classPeriods = classPeriods.append({
        'Class': possibleClasses[i],
        'Periods': Periods},
        ignore_index = True)

C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({
C:\Users\PC\AppData\Local\Temp\ipykernel_28912\3879503779.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  classPeriods = classPeriods.append({

In [208]:
# Explode the list in 'Periods' into separate rows
classPeriods = classPeriods.explode('Periods')

# Create binary columns for each period
classPeriods = pd.crosstab(classPeriods['Class'], classPeriods['Periods']).add_prefix('Period_')

# Fill NaN values with 0
classPeriods.fillna(0, inplace=True)

In [209]:
classPeriods

Periods,Period_0,Period_1,Period_2,Period_3,Period_4,Period_5,Period_6,Period_7
Class,,,,,,,,
0,0,0,0,1,1,0,1,0
1,0,1,0,1,0,1,1,0
2,0,0,1,1,0,0,1,1
3,0,0,1,0,1,1,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,1,0,1,1
6,1,1,1,0,0,0,0,0
7,1,0,1,0,0,0,1,1
8,1,0,1,0,1,0,0,0
9,1,0,0,1,1,1,0,0
10,0,0,1,0,1,0,0,1
11,1,1,0,0,0,0,0,0
12,1,0,0,0,0,1,1,1
13,0,0,0,0,1,0,1,0
14,1,0,1,0,0,0,0,1

### Ensuring this is a feasible problem

##### Count num of students in each section

In [12]:
cnt = {}
temp = 0
for i in possibleClasses:
    temp = 0
    for j in range(len(df)):
        for k in range(6):
            if df.iloc[j,k] == i:
                temp += 1
    cnt[i] = temp

In [13]:
cnt

{'History': 348,
 'Biology': 350,
 'Chemistry': 381,
 'Physics': 368,
 'English': 382,
 'Optimization': 345,
 'Machine Learning': 341,
 'Business': 349,
 'Astro Engineering': 324,
 'Aero Engineering': 337,
 'Political Science': 352,
 'Social Science': 336,
 'Chinese': 346,
 'French': 370,
 'Spanish': 345,
 'Algebra': 368}

##### Count num of possible students in each class

# Creating function to make multiple datasets

In [301]:
from math import floor

def createDataFrames(numStudents):

    # generate the students
    students = [0] * numStudents
    classrooms = floor(numStudents / 3)
    for i in range(numStudents):
        students[i] = genStudent(i)
    df = pd.DataFrame(columns = ["Class 1", "Class 2", "Class 3", "Class 4", "Class 5", "Athlete", "Chorus"])
    for i in range(numStudents):
        df = df.append({
                'Class 1':  students[i].classes[0],
                'Class 2':  students[i].classes[1],
                'Class 3':  students[i].classes[2],
                'Class 4':  students[i].classes[3],
                'Class 5':  students[i].classes[4],
                'Athlete': students[i].athlete,
                'Chorus': students[i].chorus},
                ignore_index = True)
    dfNew = pd.DataFrame(0, index=range(numStudents), columns=[f'Class{i}' for i in range(1, 16)])
    for i in range(df.shape[0]):
        for j in range(df.shape[1] - 2):
            dfNew.iat[i, df.iloc[i,j]] = 1
    dfNew = pd.concat([dfNew, df.iloc[:,-2:]], axis = 1)
    df = dfNew

    # capacity for each classroom
    classroomCapacity = pd.DataFrame(columns=["Capacity"])
    for i in range(classrooms):
        classroomCapacity = classroomCapacity.append({
            'Capacity': random.randint(30,70)},
            ignore_index = True)

    # which classroom each class can be in
    subjectClassrooms = pd.DataFrame(columns = ['Class', 'Classrooms'])
    for i in range(len(possibleClasses)):
        # rand = random.randint(30,40)
        subjectClassrooms = subjectClassrooms.append({
            'Class': possibleClasses[i],
            'Classrooms': sample(list(range(classrooms)), random.randint(floor(numStudents/20), floor(numStudents/10))) if numStudents != 25 else sample(list(range(classrooms)), random.randint(2,4))},
            ignore_index = True)
        
    # Explode the list in 'Periods' into separate rows
    subjectClassrooms = subjectClassrooms.explode('Classrooms')
    subjectClassrooms = pd.crosstab(subjectClassrooms['Class'], subjectClassrooms['Classrooms']).add_prefix('Classroom_')
    subjectClassrooms.fillna(0, inplace=True)


    # which day A or B class is available
    daysAvailable = pd.DataFrame(columns = ["Class", "A", "B"])
    for i in range(len(possibleClasses)):
        temp = random.uniform(0,1)
        if temp > .35:
            A = 1
            B = 1
        else:
            temp = random.uniform(0,1)
            if temp > .5:
                A = 1
                B = 0
            else:
                A = 0
                B = 1
        daysAvailable = daysAvailable.append({
            'Class': possibleClasses[i],
            'A': A,
            'B': B},
            ignore_index = True)

    # which periods people have classes
    periods =  range(8)
    classPeriods = pd.DataFrame(columns = ["Class", "Periods"])
    for i in range(len(possibleClasses)):

        Periods = sample(range(8), random.randint(6,8))

        classPeriods = classPeriods.append({
            'Class': possibleClasses[i],
            'Periods': Periods},
            ignore_index = True)
    # Explode the list in 'Periods' into separate rows
    classPeriods = classPeriods.explode('Periods')
    classPeriods = pd.crosstab(classPeriods['Class'], classPeriods['Periods']).add_prefix('Period_')
    classPeriods.fillna(0, inplace=True)

    return df, classroomCapacity, subjectClassrooms, daysAvailable, classPeriods

In [302]:
%%capture
for n in [25, 50, 75, 100, 125, 150, 200]:
    studentClasses, classroomCapacity, subjectClassrooms, daysAvailable, classPeriods = createDataFrames(n)
    new_directory_path = os.path.join(os.getcwd()  + "\\Data\\Complex", str(n))
    os.makedirs(new_directory_path, exist_ok=True)

    daysAvailable.to_csv("C:\\Users\\PC\\Documents\\MIT\\OptProject\\Data\\Complex\\" + str(n) + "\\" + str(n) + "daysAvailable.csv")
    studentClasses.to_csv("C:\\Users\\PC\\Documents\\MIT\\OptProject\\Data\\Complex\\"  + str(n) + "\\" + str(n) + "studentClasses.csv")
    subjectClassrooms.to_csv("C:\\Users\\PC\\Documents\\MIT\\OptProject\\Data\\Complex\\" + str(n) + "\\" + str(n) + "subjectClassrooms.csv")
    classroomCapacity.to_csv("C:\\Users\\PC\\Documents\\MIT\\OptProject\\Data\\Complex\\"  + str(n) + "\\" + str(n) + "classroomCapacity.csv")
    classPeriods.to_csv("C:\\Users\\PC\\Documents\\MIT\\OptProject\\Data\\Complex\\"  + str(n) + "\\" + str(n) + "classPeriods.csv")

## Creating Simple Schedules

In [287]:
class StudentSimple:
    def __init__(self, classes):
        self.classes = classes
    def __str__(self):
        return str(self.classes)

In [288]:
# every student has 6 classes
possibleClassesSimple = list(range(0, 5))
def genStudentSimple(num):
    classes = sample(possibleClassesSimple, 5)
    student = StudentSimple(classes)

    return student

In [297]:
from math import floor

def createDataFramesSimple(numStudents):

    # generate the students
    students = [0] * numStudents
    classrooms = floor(numStudents/3)
    for i in range(numStudents):
        students[i] = genStudentSimple(i)
    df = pd.DataFrame(columns = ["Class 1", "Class 2", "Class 3"])
    for i in range(numStudents):
        df = df.append({
                'Class 1':  students[i].classes[0],
                'Class 2':  students[i].classes[1],
                'Class 3':  students[i].classes[2]},
                ignore_index = True)
    dfNew = pd.DataFrame(0, index=range(numStudents), columns=[f'Class{i}' for i in range(0, 5)])
    for i in range(df.shape[0]):
        for j in range(df.shape[1]):
            dfNew.iat[i, df.iloc[i,j]] = 1
    dfNew = pd.concat([dfNew], axis = 1)
    df = dfNew

    # capacity for each classroom
    classroomCapacity = pd.DataFrame(columns=["Capacity"])
    for i in range(classrooms):
        classroomCapacity = classroomCapacity.append({
            'Capacity': random.randint(30,70)},
            ignore_index = True)

    return df, classroomCapacity

In [298]:
%%capture
for n in [25, 50, 100, 200, 400, 800]:
    studentClasses, classroomCapacity = createDataFramesSimple(n)
    new_directory_path = os.path.join(os.getcwd()  + "\\Data\\Simple", str(n))
    os.makedirs(new_directory_path, exist_ok=True)

    studentClasses.to_csv("C:\\Users\\PC\\Documents\\MIT\\OptProject\\Data\\Simple\\"  + str(n) + "\\" + str(n) + "studentClasses.csv")
    classroomCapacity.to_csv("C:\\Users\\PC\\Documents\\MIT\\OptProject\\Data\\Simple\\"  + str(n) + "\\" + str(n) + "classroomCapacity.csv")